* {
    margin: 0;
    padding: 0;

}

html,
body {
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

.no-scroll{
    overflow: hidden;
}



header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff12;
    backdrop-filter: blur(20px);
}

.header-body {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-body .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-body .logo h2 {
    font-size: 1rem;
}

.header-body nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-body nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-family: "Krona One", sans-serif;
    font-size: 0.8rem;
}

.humberger {
    display: none;
    transform: rotate(-450deg);
    gap: 4px;
}

.humberger span {
    height: 25px;
    width: 2px;
    background-color: #000;
}

.header-body nav ul li a {
    text-decoration: none;
    color: #000;
}

.header-body button {
    width: 150px;
    height: 42px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: "Krona One", sans-serif;
    font-size: 0.8rem;
}

.sidebar {
    display: none;
}


/* container */
.container {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: sliders infinite 5s; */
}

.con-body {
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 15px;
    padding: 1rem;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
    grid-row: span 4;
}

.content1 h1 {
    font-size: clamp(3.6rem, 5vh, 3.8rem);
    font-family: "Krona One", sans-serif;
    font-weight: 600;
}

.content1 h1 span {
    color: #66D522;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
}

.content2 {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 4;
    grid-row-start: 3;
    border-radius: 10px;
    padding: 1rem;

}

.content2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* @keyframes sliders {
    0%{background-image: url(image/broom.png); background-repeat: no-repeat; background-size: cover;}
    33%{background-image: url(image/download.png); background-repeat: no-repeat; background-size: cover;}
    34%{background-image: url(image/download\ \(1\).png); background-repeat: no-repeat; background-size: cover;}
    66%{background-image: url(image/download\ \(2\).png); background-repeat: no-repeat; background-size: cover;}
    64%{background-image: url(image/download\ \(3\)\(1\).png); background-repeat: no-repeat; background-size: cover;}
    100%{background-image: url(image/Lamborghini.png); background-repeat: no-repeat; background-size: cover;}
} */

.content3 {
    grid-column: span 3 /span 3;
    grid-row: span 3 /span 3;
    grid-column-start: 1;
    grid-row-start: 9;
    background: #f3f3f3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.con3-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.content4 {
    grid-column: span 2 /span 2;
    grid-row: span 3 /span 3;
    grid-column-start: 4;
    grid-row-start: 10;
    border-radius: 10px;
    background: #f3f3f3;

    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
    transition: transform 0.2s ease-in;
}

.content5 {
    grid-column: span 2 /span 2;
    grid-row: span 3 /span 3;
    grid-column-start: 6;
    grid-row-start: 10;
    background: #f3f3f3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
    transition: transform 0.2s ease-in;
}

.content6 {
    grid-column: span 3 /span 3;
    grid-row: span 3 /span 3;
    grid-column-start: 8;
    grid-row-start: 9;
    background: #f3f3f3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
    transition: transform 0.2s ease-in;
}

.content7 {
    grid-column: span 3 /span 3;
    grid-row: span 3 /span 3;
    grid-column-start: 8;
    grid-row-start: 1;
    background: #f3f3f3;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
    transition: transform 0.2s ease-in;
    transition: background 0.2s ease-in;
}

.content8 {
    grid-column-start: 4;
    grid-row-start: 5;
}


.content9 {
    grid-column-start: 5;
    grid-row-start: 8;
}

.content9 button,
.content8 button,
.content10 button {
    padding: 1.6rem;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee74;
    color: #000000;
    font-size: 1.4rem;
    backdrop-filter: blur(20px);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content10 {
    grid-column-start: 6;
    grid-row-start: 4;
}




h2 {
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    font-weight: 4rem;
}

P {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

.content3:hover,
.content4:hover,
.content5:hover,
.content6:hover,
.content7:hover {
    transform: translateY(-10px);
    background: #eaeaea;
}


.image-body {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: slider linear infinite 10s;
}

.image-body img {
    transition: all 0.3s ease;
}

.image-body:hover {
    animation-play-state: paused;
}

.image-body img:hover {
    transform: scale(1.06);
}

@keyframes slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.image-body img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.panel1 {
    height: 400px;
    padding-top: 4rem;
}


.panel2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 1rem;
    padding-top: 3rem;
}

.panel2-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: auto;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #00000021;
    background-image: linear-gradient(90deg, #0a0a0a, #141414, #000000);
}

/* .panel2-body .panel2-content img {
    height: auto;
    width: auto;
    object-fit: contain;
} */

.panel2-body .panel2-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    color: white;
    padding: 1rem;
    width: auto;
}

.panel2-body .panel2-content2 h1 {
    font-family: "Krona One", sans-serif;
    text-align: center;
}

.panel2-body .panel2-content2 p {
    text-align: center;
    line-height: 1.5rem;
    font-weight: 200;
    width: 80%;
}

.panel2-body .panel2-content2 .buttons-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.panel2-body .panel2-content2 .buttons-con button {
    padding: 1rem;
    width: 100%;
    max-width: 200px;
}

.panel2-body .panel2-content2 .buttons-con button:nth-child(1) {
    background-color: #66D522;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.panel2-body .panel2-content2 .buttons-con button:nth-child(2) {
    border-radius: 5px;
    outline: none;
    color: #000;
}

.panel2-body .panel2-content2 .social-numbers {
    display: flex;
    gap: 20px;
}

.panel2-body .panel2-content2 .social-numbers .numbers {
    display: flex;
    align-items: center;
    gap: 15px;
}

.panel2-body .panel2-content2 .social-numbers .numbers span {
    font-size: 1.5rem;
    font-weight: 800;
    color: #66D522;
}

.panel2-body .panel2-content2 .social-numbers .numbers h2 {
    font-size: 25px;
}

.panel3 {
    z-index: 3;
    background-color: #e6e6e6;
    height: 1000px;
}

.panel4 {
    z-index: 4;
    background-color: #000;
}


/* WHY US SECTION */
.pution {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1000px;

}

.why-us {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;

}

.why-us h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.why-us span {
    color: #66D522;
}

.why-us .subtitle {
    color: #666;
    margin-bottom: 50px;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    height: 200px;
}

.why-box {
    background: #f3f3f3;
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.why-box h3 {
    font-family: "Krona One", sans-serif;
}

.why-box:hover {
    transform: translateY(-6px);
    background: #66D522;
    color: black;
}


/* REVIEWS */

.steps {
    width: 100%;
    height: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Krona One", sans-serif;
}

.content-steps {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: auto;
    background-image: url(imgslider/download.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-steps h1 {
    background-color: #fff;
    width: 60%;
    border-radius: 0px 0px 10px 10px;
}

.steps-content-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
    width: 80%;
}

.steps-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    height: 700px;
}

.steps1,
.steps3,
.steps5,
.steps2,
.steps4,
.steps6 {
    background: #f3f3f3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.steps-step {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem;
}

.steps-step span {
    background-color: #66D522;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #e6e6e6;
}

.steps-step p {
    text-align: left;
}

/* CTA SECTION */

.cta {
    padding: 90px 10%;
    text-align: center;
    background: linear-gradient(to right, #000, #023d05);
    color: white;
}

.cta h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

.cta p {
    margin-bottom: 25px;
}

.cta-buttons button {
    padding: 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 5px;
    width: 200px;
}

.btn-primary {
    background: #66D522;
    color: black;
}

.btn-secondary {
    border: 1px solid #66D522;
    color: #000;
}


/* FOOTER */

.footer {
    background: #0b0b0b;
    color: white;
    padding: 60px 10% 20px;
}

.footer-about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links h4 {
    font-size: 15px;
    font-family: "Krona One", sans-serif;
}

.footer-about p {
    line-height: 1.5rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer h3 {
    color: #66D522;
    font-family: "Krona One", sans-serif;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul li {
    color: #aaa;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contact h4 {
    font-size: 15px;
    font-family: "Krona One", sans-serif;
}

.footer-contact p {
    color: #aaa;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #222;
    padding-top: 20px;
    color: #666;
}

/* TABLET */
@media (max-width: 1024px) {

    .container {
        height: auto;
        padding-top: 7rem;
    }

    .con-body {
        width: 90%;
        height: 650px;
        /* mas maliit */
        gap: 10px;
    }

    .con3-body p {
        font-size: 13px;
    }

    .content1 h1 {
        font-size: clamp(2.4rem, 4vh, 2.8rem);
    }

    .content8 button,
    .content9 button,
    .content10 button {
        width: 140px;
        padding: 1rem;
        font-size: 1rem;
    }

    .content2 img {
        max-height: 400px;
    }

    .panel2-body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .panel2-content2 img {
        width: 100% !important;
        height: auto !important;
        display: block !important;
    }

    .pution {
        height: auto;
    }

    .steps-content-body {
        width: 90%;
    }

}


/* MOBILE */
@media (max-width: 600px) {

    .header-body nav ul, .signup{
        display: none;
    }


    .container {
        height: auto;
    }

    .con-body {
        grid-template-columns: 1fr;
        height: auto;
        padding: 1rem;
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5,
    .content6,
    .content7 {
        grid-column: span 1;
    }

    .content1 h1 {
        font-size: 2rem;
        text-align: center;
    }

    .content2 img {
        width: 100%;
        height: auto;
    }


    .why-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }

    .why-box {
        grid-column: 1 / -1;
    }

    .footer-grid {
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .steps {
        height: auto;
        padding: 50px 0px 50px 0px;
    }

    .steps-content-body,
    .steps-body {
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .content-steps,
    .steps-body {
        grid-column: 1 / -1;
        grid-row: auto;
    }

}

@media (max-width: 456px) {
    .humberger {
        display: flex;
    }

    .signup{
        display: flex;
        width: 290px;
        padding: 0.8rem;
        border-radius: 10px;
        background-color: #000;
        color: #e6e6e6;
    }

    .close {
        position: fixed;
        top: 3%;
        left: 4%;
        transition: transform 0.5s ease;
    }

    .sidebar {
        position: fixed;
        display: flex;
        transform: translateX(100%);
        right: 0;
        top: 0;
        height: 100%;
        width: 80%;
        z-index: 999999;
        visibility: hidden;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: #ffffff;
        box-shadow: 10px 0 20px rgba(0,0,0,0.3);
        transition: transform 0.5s ease;
        border-radius: 10px 0px 0px 10px;
    }

    .sidebar.open {
        visibility: visible;
        transition: transform 0.5s ease;
        transform: translateX(0);
    }


    .sidebar .navlinks {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 5rem;
        padding-left: 1rem;
    }

    .sidebar .navlinks .list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sidebar .navlinks .list li {
        list-style: none;
    }

    .sidebar .navlinks .list li a {
        text-decoration: none;
        font-family: "Krona One", sans-serif;
        font-size: 0.8rem;
        color: #000;
    }


    .header-body .logo svg {
        display: none;
    }

    .con-body {
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .con3-body p {
        font-size: 1rem;
    }


    .content3,
    .content4,
    .content5,
    .content6,
    .content7 {
        grid-column: 1 / -1;
        grid-row: auto;
        height: auto;
        display: none;
    }

    .content1,
    .content2 {
        grid-column: 1 / -1;
        grid-row: auto;
        height: auto;
    }


    .content2 img {
        height: 200px;
    }

    .content8,
    .content9,
    .content10 {
        display: none;
    }

    .pution {
        height: auto;
    }

    .why-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }

    .why-box {
        grid-column: 1 / -1;
    }

    .footer-grid {
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .steps {
        height: auto;
        padding: 60px 0px 60px 0px;
    }

    .content-steps {
        height: 350px;
    }

    .steps-content-body,
    .steps-body {
        grid-template-columns: 1;
        grid-template-rows: auto;
    }

    .content-steps,
    .steps-body {
        grid-column: 1 / -1;
        grid-row: auto;
    }

    .panel1 {
        height: auto;
        padding-bottom: 5rem;
    }

    .image-body img {
        height: 150px;
        width: auto;
        border-radius: 10px;
    }


}